{% extends 'base.html' %}

{% block content %}
<div class="container mt-3">
    <h1 class="text-center fs-2">Log in or create an account</h1>
</div>

<div class="container mt-3">
    <div class="row">
        <div class="col-12 col-md-2"></div>
        <div class="col-12 col-md-8 d-md-flex justify-content-between border" style="border-width: 0.1px; border-color: #5f5f5f9a; padding: 100px 0;">
            <div class="col-12 col-md-6 p-4">
                <h2>New customers</h2>
                <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple addresses, view and track your orders in your account, and more.</p>
                <a class="btn btn-secondary">Create account</a>
            </div>
            <div class="col-12 col-md-6 p-4">
                <h2>Registered customers</h2>
                <p>Log in if you have an account</p>
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="email">Email <span style="color: red;">*</span></label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="password">Password <span style="color: red;">*</span></label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <button type="submit" class="btn btn-secondary">Log in</button>
                </form>
                {% if error_message %}
                    <div class="w-100 error_message">
                        <p class="text-danger">{{ error_message }}</p>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-2"></div>
    </div>
</div>

{% endblock %}