body{
    margin: 0;
    overflow-x: hidden; 
}
*{
    list-style: none;
    border: none;
    background-color: transparent;
    text-decoration: none !important;
    text-transform: capitalize;
}
ul li a{
    margin: 0 15px;
    text-decoration: none;
    color: #424040cc;
    font-size: 20px;
}
.collapse ul li {
    margin-top: 10px;
}
.cart-right{
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    background: #fff;
    height: 100vh;
    z-index: 3;
}
.hide-cart{
    position: absolute;
    right: 10px;
    top: 10px;
}
.banner {
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-position: center;
}
@media (max-width: 768px) {
    .banner {
        height: 25vh;
    }
}
.product {
    position: relative;
    width: 300px;
    color: #000;
}

.default-image, .hover-image {
    width: 100%;
    height: 27rem;
    display: block;
}

.hover-image {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 20rem !important;
    height: 27rem;
}

.product:hover .hover-image {
    display: block;
}
.product:hover .icons {
    display: block;
}
.image-container {
    position: relative;
    cursor: pointer;
}
.product .hover-icons{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 18px;
}


/* Style the Slick.js carousel and arrows */
.slick-slider {
    position: relative;
    margin: 20px; 
}

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
}

.slick-slide {
    transition: transform 0.3s; 
}

.slick-arrow {
    display: none !important;
}

.slick-arrow:hover {
    background-color: #555; 
}

.slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    list-style: none;
    padding: 0;
}

.slick-dots li {
    margin: 0 10px;
}

.slick-dots button {
    font-size: 0;
    width: 0.1px;
    height: 8px;
    border: 1px solid #000;
    background-color: #fff;
    border-radius: 100%;
    cursor: pointer;
}

.slick-dots li.slick-active button {
    background-color: #000;
    border-color: #000;
    cursor: pointer;
}


/* banner */
.home_page_banner{
    height: 43vh ; 
    background-size: 100%,100%;
    background-repeat: no-repeat;
}
.list-unstyled li a {
    color: #fff !important;
}
.list-unstyled li a:hover{
    color: #5c5757 !important;
}
.background_hover:hover{
    background-position-x: -10px !important;
}

/* CSS to make subcategories open to the right */
.subcategories {
    position: absolute;
    top: 0;
    left: 100%;
    min-width: 200px;
    display: none;
}

.dropdown > a::after {
    content: none;
}

.category:hover .subcategories {
    display: block;
}
